*{font-family: Georgia, 'Times New Roman', Times, serif;}
#baner{
    background-color: #005b4e;
    color:white;
    text-align: center;
    font-size: 50%;
    height: 20px;
}
#glowny{
    background-color: #e1e2e1;
    height: 400px;
    padding: 20px;
    overflow: scroll;
    
}
#img{width: 20%;float:left;}
#opis{display: inline;
}

img{
    padding: 20px;
    border-radius: 100%;
}
h2{
    background-color: #00897B;
    text-align:center;
}
a{color:white;}
#stopka1,#stopka2{
    background-color: #005B4F;
    width:50%;
    color:white;
    text-align: center;
    height: 20px;
    float:left;
}