* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kontener {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #303030;
}

#baner {
    background-color: #329EB9;
    height: 100px;
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

#panel_lewy {
    background-color: #B3C6D9;
    height: 600px;
    width: 75%;
    float: left;
    padding: 20px;
}

#panel_prawy {
    background-color: #E0EAF1;
    height: 600px;
    width: 25%;
    float: left;
    padding: 20px;
}

#stopka {
    clear: both;
    background-color: #329EB9;
    font-family: Arial;
    text-align: right;
}
