body {
    font-family: Cambria;
}

header,
footer {
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}

#left,
#right {
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}

#mid {
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}

table {
    border: solid 1px DimGray;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    border: solid 1px DimGray;
    border-collapse: collapse;
}

td:hover {
    background-color: SteelBlue;
    color: white;
}

th:hover {
    background-color: SteelBlue;
    color: white;
}

img {
    width: 100%;
    border-radius: 20px;
}