* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

footer, header {
    background-color: #4BA3C7;
    color: white;
    height: 80px;
    font-size: 120%;
    clear: both;
}

.lewy, .prawy {
    background-color: #EFEFEF;
    height: 400px;
    width: 25%;
    float: left;
}

.srodkowy {
    background-color: #90CAF9;
    height: 400px;
    width: 50%;
    float: left;
}



table {
    margin-left: 10px;
    width: 90%;
    border: #90CAF9 1px solid;
}

td {
    padding: 5px;
    border: 1px solid #90caf9;
}
tr:hover {
    color: #90caf9
}


